body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

body, button, input {
  font-family: 'DM Sans', sans-serif;
}

.hide {
  display: none;
}

.screen1 {
  margin-top: -0.75rem;
  text-align: center;
  width: min(26.75rem, 100%);
  background: #ffffff;
  padding: 3rem 4rem 4rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}

.screen1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgba(52, 53, 91, 1);
}

.screen1 p {
  margin-bottom: 3rem;
  color: rgba(52, 53, 91, 0.8);
}

.screen1 form {
  display: flex;
  justify-content: center;
}

.screen1 form input {
  border: none;
  background: #DCE2E9;
  width: 2.688rem;
  padding: 1rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.screen1 form button {
  border: none;
  background: #7879F1;
  color: #fff;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  transition: all .1s;
}

.screen1 button:hover {
  background-color: #6363ce;
}

.screen2 {
  margin-top: -0.75rem;
  text-align: center;
  width: min(26.75rem, 100%);
  background: #ffffff;
  padding: 3rem 4rem 4rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}

.screen2 h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2.063rem;
  color: rgba(52, 53, 91, 1);
}

.screen2 p {
  margin-bottom: 3rem;
  color: rgba(52, 53, 91, 0.8);
}

.screen2 form button {
  border: none;
  background: #7879F1;
  color: #fff;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all .1s;
}

.screen2 button:hover {
  background-color: #6363ce;
}


